<mat-toolbar>
  <button mat-icon-button class="example-icon" color="primary" aria-label="Example icon-button with menu icon"
    [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="TD">
      <mat-icon>format_list_bulleted</mat-icon>
      <span>Formulario Template Driven</span>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="MD">
      <mat-icon>format_list_bulleted</mat-icon>
      <span>Formulario Module Driven</span>
    </button>
    <button mat-menu-item routerLink="/data">
      <mat-icon>list_alt</mat-icon>
      <span>Datos</span>
    </button>
    <mat-menu #TD="matMenu">
      <button mat-menu-item routerLink="/tdformadd"><mat-icon>save</mat-icon><span>Guardar</span></button>
      <button mat-menu-item routerLink="/tdformmod"><mat-icon>edit</mat-icon><span>Modificar</span></button>
      <button mat-menu-item routerLink="/tdformdel"><mat-icon>delete</mat-icon><span>Borrar</span></button>
    </mat-menu>
    <mat-menu #MD="matMenu">
      <button mat-menu-item routerLink="/mdformadd"><mat-icon>save</mat-icon><span>Guardar</span></button>
      <button mat-menu-item routerLink="/mdformmod"><mat-icon>edit</mat-icon><span>Modificar</span></button>
      <button mat-menu-item routerLink="/mdformdel"><mat-icon>delete</mat-icon><span>Borrar</span></button>
    </mat-menu>
  </mat-menu>
  <span>Angular día 6: FORMULARIOS</span>
</mat-toolbar>