<div class="contenedorPrincipal">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="tablaMaterial">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> id. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> titulo </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>
            <ng-container matColumnDef="anyoPublicacion">
                <th mat-header-cell *matHeaderCellDef> anyoPublicacion </th>
                <td mat-cell *matCellDef="let element"> {{element.anyoPublicacion}} </td>
            </ng-container>
            <ng-container matColumnDef="interprete">
                <th mat-header-cell *matHeaderCellDef> interprete </th>
                <td mat-cell *matCellDef="let element"> {{element.interprete}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="botonera">
            <div class="form-group">
                <button class="btn btn-primary" (click)="refrescar()">Refrescar</button>
            </div>
        </div>
</div>